<!-- <h1 align="center" class="display-4 ">Users</h1> -->
<marquee direction="right"
behavior="alternate"
style="border:BLACK 2px SOLID; margin-bottom: 10px; margin-top: 10px;">
<h1 align="center" class="display-4 mb-5" style="font-size: 65px;">User Details</h1>
</marquee>


    <input type = "text" name="search" [(ngModel)]="searchText" placeholder ="Click Here To Search" style="font-size: 15px;" />

<table id="table" class="table table-striped text-center" style="width:100%;">
    <thead>
    <tr>
        <th scope="col" style="font-size: 15px;">Email</th>
        <th scope="col" style="font-size: 15px;">Name</th>
        <th scope="col" style="font-size: 15px;">Role</th>
        <th scope="col" style="font-size: 15px;">Action</th>

    </tr>
    </thead>
    <!--Search by
    <select ng-model="columns" ng-options="e for e in headers">
        <option value=""></option>
    </select>
    Search <input type = "text" ng-model ="Search[columns]" placeholder ="Enter Some Text To Search" />-->
    <tbody>
    <tr *ngFor="let user of page?.content | filter:searchText">

        <td class="align-middle" style="font-size: 15px;">{{user.email}}</td>
        <td class="align-middle" style="font-size: 15px;">{{user.name}}</td>
        <td class="align-middle" style="font-size: 15px;">{{user.role}}</td>
        <td class="align-middle" style="font-size: 15px;">
            <button  *ngIf="user.role=='ROLE_CUSTOMER'" (click)=addAdmin(user.email)  class="btn btn-success" style="font-size: 15px;">Add Admin</button>
            <button  *ngIf="user.role=='ROLE_MANAGER'" (click)=removeAdmin(user.email)  class="btn btn-danger" style="font-size: 15px;">Remove Admin</button>
           <!-- <a  [ngClass]="{'isDisabled':'(productInfo.productStock >10)? true:false'}"style="display: block" class="isDisabled"  routerLink="/email">Email</a>-->
        </td>

    </tbody>
</table>
<app-pagination [currentPage]="page" style="font-size: 15px;"></app-pagination>
