.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
.home-icon{
  padding-left: 70%;
  color: white
}
.cart-icon{
  padding-left: 75%;
  color: white
}