<div class="main-div" fxLayout="row" fxLayoutAlign="center center" >
    <mat-card fxFlex="25" class="box">
        <mat-toolbar color="primary">Register</mat-toolbar>
        <form class="form" fxFlexAlign="stretch" fxLayout="column">
            
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Username">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Fullname">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Email">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Password">
                </mat-form-field>
            
            <button mat-stroked-button color="accent" class="btn-block">Register</button>
        </form>
    </mat-card>
</div>